{% extends "base.html" %}
{% block content %}
<div style="display: block; padding: 20px; border: 1px black solid">
<h1>Ответ на вопрос: <a href="{{title.get_absolute_url}}">"{{ title }}"</a></h1>
<h1>{{ title }}</h1>
<ul>
 <li> {{ instance.text}} </li>
 <li> Added by {% if instance.author == None %}Неавторизованный пользователь{% else %}{{ instance.author }}{% endif %}</li>
 <li> {{ instance.added_at }} </li>
</ul>
</div>

<div style="display: block; padding: 20px; border: 1px black solid">
<h1> Редактировать ответ: </h1>
 {% for e in form.non_field_errors %}
  <div bgcolor="red"> {{ e }} </div>
 {% endfor %}
 <form method="post" action="/answer_add/">
 {% csrf_token %}
  <fieldset>
   {% for field in form %}
   <div 
   {% if field.errors %}bgcolor="red"{% endif %}>
    <label>{{ field.label }}</label>
    <div>{{ field }}</div>
   </div>
   {% endfor %}
  </fieldset>
 <div>
  <button type="submit">Сохранить</button>
 </div>
</form>
</div>
{% endblock content %}