{% extends "base.html" %}
{% block content %}
<div style="display: block; width: 50px; margin-left: auto; margin-right: auto;">
	{% for p in paginator.page_range %}
	{% if p == page.number %}
		<p style="display: inline-block; color: green"> {{p}}
	{% else %}
		<p style="display: inline-block; color: blue">	
			<a href="?page={{ p }}"> {{ p }} </a>
		{% endif %}
		</p>
   {%  endfor %}
</div>
<div>
<ul>
{% for q in page %}
	<li> <a href="{{ q.get_absolute_url }}"> {{ q.title }} </a> </li>
	{% endfor %}
</ul>
{{ paginator.baseurl }}
</div>
<div style="display: block; width: 50px; margin-left: auto; margin-right: auto;">
	{% for p in paginator.page_range %}
	{% if p == page.number %}
		<p style="display: inline-block; color: green"> {{p}}
	{% else %}
		<p style="display: inline-block; color: blue">	
			<a href="?page={{ p }}"> {{ p }} </a>
		{% endif %}
		</p>
   {%  endfor %}
{% endblock content %}