{% extends "base.html" %}
{% block content %}
<div>
<h1>{{ title }}</h1>
<ul>
 {% if error %}
 {% for e in error %}
 <div style="display: block; padding: 5px; margin: 10px 0; background-color: red;"> {{ e }} </div>
 {% endfor %}
 {% endif %} 
 <form method="post" action="/login/">
 {% csrf_token %}
  <fieldset>
   {% for field in form %}
   <div 
   {% if field.errors %}bgcolor="red"{% endif %}>
    <label>{{ field.label }}</label>
    <div>{{ field }}</div>
   </div>
   {% endfor %}
  </fieldset>
 <div>
  <button type="submit">Войти</button>
 </div>
</form>
</ul>
</div>
{% endblock content %}