{% extends "base.html" %}
{% block content %}

{{ test }}

<div style="display: block; padding: 20px; border: 1px black solid">
<h1> Вопрос: </h1>
<h1>{{ title }}</h1>
<ul>
 <li> {{ question.title }} </li>
 <li> {{ question.id }} </li>
 <li> {{ question.text}} </li>
 <li> {{ question.added_at }} </li>
 <li> {{ question.rating }} </li>
 <li> Added by {% if question.author == None %}Неавторизованный пользователь{% else %}{{ question.author }}{% endif %} </li>
 <li> {{ question.likes }} </li>
</ul>
</div>

<div style="display: block; padding: 20px; border: 1px black solid">
<h1> Ответить: </h1>
 {% for e in form.non_field_errors %}
  <div bgcolor="red"> {{ e }} </div>
 {% endfor %}
 <form method="post" action="{{ url }}">
 {% csrf_token %}
  <fieldset>
   {% for field in form %}
   <div
   {% if field.errors %}bgcolor="red"{% endif %}>
    <label>{% if field.type != hidden %}{{ field.label }}{% endif %}</label>
    <div>{{ field }}</div>
   </div>
   {% endfor %}
  </fieldset>
 <div>
  <button type="submit">Сохранить</button>
 </div>
</form>
</div>

<div style="display: block; padding: 20px; border: 1px black solid">
<h1> Ответы: </h1>

{% for a in answers %}
<div style="display: block; padding: 10px 0; border: 1px black solid">
<ul>
 <li> Added by {% if a.author == None %}Неавторизованный пользователь{% else %}{{ a.author }}{% endif %}</li> <!-- delete Неавторизированный пользователь futher-->
 <li> {{ a.added_at }} </li>
 <li> {{ a.text}} </li>
</ul>
</div> 
{% endfor %}

</div>

{% endblock content %}